$dark = #2D3744
$titanium = #F2F4FA
$brand = #582ED0
$cream = #F2F2F0

main-gradient(dark_percent = 0%)
    background linear-gradient(90deg, darken(#5c32d4, dark_percent), darken(#32c0c0, dark_percent))